.camera_logo{
    color:white;
}
.camera_contanier{
    display:flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height:2.5rem;
    margin-left:100px;
    cursor:pointer;
}
.camera_contanier:hover{
    border-radius:50%;
    background-color: gray;
}

.uploadvideo{
 width:50px;
 height:50px;

}

.upload_dropdown{
    width:8rem;
    height:4rem;
    background-color: rgb(20,20,20);
    position:absolute;
    top:15px;
    right:90px;
    z-index:99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.2px solid black;
    border-radius: 3px;
}
.inner_dropdown{
    width:8rem;
    height:4rem;
    
}
.upload_text{
    height:40%;
    width:100%;
    color:azure;
    text-align: center;
    cursor:pointer;
}

.live_text{
    height:50%;
    width:100%;
   color:white;
   border-top:0.5px solid white;
   text-align: center;
   cursor:pointer;
}


/*upload and channel component diplaying */

.UploadComponent {
    width: 80vw; /* Changed from vh to vw */
    height: 90vh;
  }
  