/* yt logo image*/
.logo img{
width:40px;
height:28px;
}
 
/*conatnier*/
.contanier{
    display:flex;
    border:1px solid;
    height:55px;
    background-color: rgba(29,29,29);
    align-items:center;
    width:100%;
    position: fixed;
    z-index:100;

}
/* combination of log and yt name*/
.logo{
    display:flex;
    align-items: center;
    
}
.logo .text{
    margin-left:2px;
    font-size: 22px;
    color: white;
}
/*three lines side ---*/
.lines{
    display:flex;
}
.bugger{
    border:1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    cursor:pointer;
    padding:0.5rem;
    margin-left:0.5rem;
    margin-right:0.7rem;
    color:white;

}
.bugger p{
    margin:2.5px;
    width:1.2rem;
    height:0.1rem;
    color:white;
    background-color: white;
    
}
.icons{
    display:flex;
}
.mic{
    display:flex;
}